body {
  text-align: center;
}
.loadingContainer {
  text-align: center;
  margin-top: 40vh;
}
.loadingTxt {
  font-size: 50px;
}
.itemContainer {
  border: 1px solid #000;
}
.addToCartBtn {
  padding: 20px;
}
